body{
    text-align: center;
    
}
.flex-container{
    border: 10px solid black;
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin:auto;
}

.flex-container div{
    display: flex;
    flex-direction: row;
}

.flex-container button{
    width: 100px;
    height: 100px;
    flex: 1;
}